* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Droid Sans', sans-serif;
}

header {
  background: #333;
  border-bottom: 1px solid white;
}

header h1 {
  color: white;
  text-align: left;
  padding-left: 1em;
  text-shadow: #333;
}

section {
  min-height: 20em;
  margin: 0 auto;
  margin-top: 1em;
}

section canvas {
  position: absolute;
  background-color: transparent;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.canvasparent {
  width: 301;
  heighT: 301;
}

#TickTackToeCanvas {
  border: 1px solid;
  z-index: 1;
}

#clickCanvas {
  border: 1px solid;
  z-index: 2;
}
